/* -------- Start of CSS Reset -------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* -------- End of CSS Reset -------- */

:root{
  --font-header: 'Playfair Display', sans-serif;
  --font-text: 'Lato', sans-serif;
  --blue-color: #0065a8;
  --white-color: #f5f5f5;
  --green-hover: #99ffcc;
  --width-button: 120px;
  --height-button: 35px;
  --text-upper: uppercase;
  --text-bolder: bolder;
  --active-purple: 5px solid rgb(92, 49, 177);
}

body {
      font-family: var(--font-text);
      color: var(--white-color);
      background-color: black;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 
}    

/* -------- Header (Mobile) -------- */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.header-container h1 {
  color: white;
  flex: 1;
  font-size: 1.5rem;
}

.header-container nav {
  flex: 1;
  width: 100%;
  max-width: 500px;
}

.header-container nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  max-width: 500px;
  font-weight: var(--text-bolder);
}

.header-container nav ul li {
  flex: 1;
  margin: 0;
  text-align: center;
}

.header-container nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  padding: 10px 10px;
  background-color: #5476b4;
  transition: background-color 0.4s ease, transform 0.4s ease;
  transform-origin: center center;
  width: auto;
  line-height: 1;
}

.header-container nav ul li a:hover {
  background-color: #4abee4;
  transform: scale(1.1);
  font-size: 1rem;
}

a:link,
a:visited{
    text-decoration: none;
    color: var(--white-color)
}

nav > ul a:hover{
  background-color: var(--green-hover);
  color: black;
  transform: scale(1.2);
}

a:active{
  text-decoration: none;
  color: var(--white-color)
}

a:focus{
  text-decoration: none;
  outline: var(--active-purple);
  border-radius: 8px;
}

.stripe {
  position: relative;
  display: inline-block;
}

.stripe::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  right: 0;
  bottom: 10px;
  background: #0065a8;
  transform: scaleX(1.1);
  z-index: -1;
}

/* -------- The First Section (Mobile) -------- */

.hero {
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  position: relative;
  height: 300px;
  box-shadow: 0 0 30px 30px rgb(235, 231, 162, 0.1);
}

.hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 8s infinite ease-in-out alternate;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.hero .hero-text {
  width: 270px;
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 1;
  text-align: center;
}

.hero .hero-text .hueShift {
  background: linear-gradient(90deg, #1665c5, #6dc2c2);
  background-size: 200% 100%;
  background-position: 0% 0%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: solarGradient 3s infinite alternate;
}

@keyframes solarGradient {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

.hero .hero-text p:nth-child(3) {
  margin-top: 10px;
}

/* -------- The Second Section (Mobile) -------- */

.locals {
  padding-top: 10px;
  margin-bottom: 30px;
}

.locals h2 {
  text-align: center;
}

.planets .sun {
  grid-area: sun;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: var(--text-bolder);
}

.planets .moon {
  grid-area: moon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: var(--text-bolder);
}

.planets .mercury {
  grid-area: mercury;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: var(--text-bolder);
}

.planets .mars {
  grid-area: mars;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: var(--text-bolder);
}

.planets .venus {
  grid-area: venus;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: var(--text-bolder);
}

.planets .earth {
  grid-area: earth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: var(--text-bolder);
}

.planets {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "sun"
  "mercury"
  "venus"
  "earth"
  "moon"
  "mars";
  justify-items: center;
  gap: 10px;
  padding: 1rem;
}

.planet-button {
  background-color: #800080;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100px;
  padding: 7px;
  align-self: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.planet-button:hover {
    background-color: #a020f0;
    transform: scale(1.1);
}

/* -------- Footer (Mobile) -------- */

hr {
  border: none;
  height: 1px; 
  background-color: #262626; 
}

.footer p {
  text-align: center;
  padding: 10px 0 10px 0;
}

.footer {
  padding: 5px 5px;
  border-top: 1px var(--white-color) solid;
  margin-top: 20px;
  font-weight: var(--text-bolder);
}

/* -------- (Tablet Mode) -------- */

@media (min-width: 800px) {
  .wrapper {
      max-width: 800px;
  }

  .header-container {
      flex-direction: row;
      justify-content: space-between;
      height: auto;
  }

  .header-container h1 {
      font-size: 1.8rem;
  }

  .header-container nav ul {
      justify-content: flex-end;
  }

  .hero .hero-text {
      width: 60%;
      bottom: 40%;
      text-align: left;
  }

  .planets {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
          "sun mercury venus"
          "earth moon mars"
  }
}

/* -------- (Desktop Mode) -------- */

@media (min-width: 1200px) {
  .wrapper {
      max-width: 1200px;
  }

  .header-container {
      max-width: 1200px;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
  }

  .header-container h1 {
      font-size: 2rem;
  }

  .header-container nav ul {
      display: flex;
      gap: 15px;
  }

  .hero {
      max-width: 1000px;
      margin: 0 auto;
  }

  .hero .hero-text {
      width: 50%;
      bottom: 45%;
      font-size: 1.5rem;
  }
 
  .planets {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "sun mercury venus earth moon mars"
}
}
